<h1>Listing Programs</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Aq type</th>
    <th>Description</th>
    <th>Public</th>
    <th>Locale</th>
    <th>Date of creation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aq_programs.each do |aq_program| %>
  <tr>
    <td><%= aq_program.name %></td>
    <td><%= aq_program.aq_type_id %></td>
    <td><%= aq_program.description %></td>
    <td><%= aq_program.public %></td>
    <td><%= aq_program.locale %></td>
    <td><%= aq_program.date_of_creation %></td>
    <td><%= link_to 'Show', aq_program %></td>
    <td><%= link_to 'Edit', edit_aq_program_path(aq_program) %></td>
    <td><%= link_to 'Destroy', aq_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aq program', new_aq_program_path %>
