<%= form_for(@financiation) do |f| %>
  <% if @financiation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@financiation.errors.count, "error") %> prohibited this financiation from being saved:</h2>

      <ul>
      <% @financiation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.number_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br />
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :financiation_type %><br />
    <%= f.text_field :financiation_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
